@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$questrial: 'Questrial', serif;

.d-flex {
  display: flex;
}
.background{
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.header {
  position: absolute;
  top: 180px;
  left: 200px;
  .name {
    font-family: $questrial;
    font-size: 50px;
    color: white;
    margin-top: 50px;

  }
}
.perfil-image {
  border-radius: 30%;
  height: 600px;
  margin-right: 50px;
}
.button {
  margin-top: 50px;
  transition: all 0.5s;
  height: 60px;

}
.box-icon {
  position: relative;
  top: 33px;
  margin-left: 55px;
}
.button-icon {
  transition: all 0.5s;
}
.button:hover {
  cursor: pointer;
  .box-icon {
  border-bottom: 1px solid red;

  }
  .button-icon {
    background-color: red !important;
  }
  .logo-name {
    color: red;
  }
}
.logo-name {
  position: relative;
  top: 33px;
  font-family: $questrial;
  font-size: 30px;
  transition: all 0.5s;
}
.logo-name.curriculo {
  right: -360px;
}
.logo-name.github {
  right: -390px;
}
.logo-name.linkedin {
  right: -370px;
}
.logo-name.projetos {
  right: -370px;
}
