<div class="background">
  <div class="projetos seta">
    Projetos
    <icone icon="curved-right" size="100" color="white" class="curved-icon">
    </icone>
  </div>
  <div class="linkedin seta">
    <icone icon="curved-right" size="100" color="white" class="curved-icon">
    </icone>
    LinkedIn
  </div>
  <div class="titulo">
    Mariana Antonietto
  </div>
  <div class="github seta">
    Github
    <icone icon="curved-right" size="100" color="white" class="curved-icon">
    </icone>
  </div>
  <div class="curriculo seta">
    <icone icon="curved-right" size="100" color="white" class="curved-icon">
    </icone>
    Currículo
  </div>
</div>
