<div class="background">
 <div class="header">
  <div class="d-flex">
    <img class="perfil-image" src="assets/images/mariana-image.png" alt="foto perfil mariana">
    <div>
      <div class="name">MARIANA ANTONIETTO</div>
      <div class="button" (click)="goToCurriculo()">
        <icone class="button-icon" icon="curriculo" color="white" size="60"></icone>
        <div class="logo-name curriculo">Currículo</div>
        <div class="box-icon">
        </div>
      </div>
      <div class="button" (click)="goToLinkedin()">
        <icone class="button-icon" icon="linkedin" color="white" size="60"></icone>
        <div class="logo-name linkedin">Linkedin</div>
        <div class="box-icon">
        </div>
      </div>
      <div class="button" (click)="goToGithub()">
        <icone class="button-icon" icon="github" color="white" size="60"></icone>
        <div class="logo-name github">Github</div>
        <div class="box-icon">
        </div>
      </div>
      <div class="button">
        <icone class="button-icon" icon="bulb" color="white" size="60"></icone>
        <div class="logo-name projetos">Projetos</div>
        <div class="box-icon">
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
